Name = $HOST

# IPv6 + IPv4
AddressFamily = any

# Tinc nur über das öffentliche Netz laufen lassen
BindToInterface = eth0
Broadcast = mst
ConnectTo = gw01
ConnectTo = gw05
ConnectTo = gw07
ConnectTo = gw08
ConnectTo = gw09
ConnectTo = gw10

Mode = switch
GraphDumpFile = /tmp/tinc.ffsbb.dotty
ConnectTo = gw05n02
ConnectTo = gw05n03
ConnectTo = gw05n08
